@namespace Secyud.Abp.Features.Components
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase

@if (Settings is { HasManageHostFeaturesPermission: true })
{
    <Button Size="Size.Small" Click="@OnManageHostFeaturesClicked">
        <SIcon IconName="@("fa-cog")"/> @L["ManageHostFeatures"]
    </Button>

    <FeaturesModal @ref="FeaturesModal"/>
}