@page "/"
@using global::SecitsDemoApp.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SecitsDemoAppResource> L
@{
}
<h1>SecitsDemoApp</h1>
<p style="height: 1920px">@L["SamplePageMessage"]</p>

@code
{

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
