@using Secyud.Secits.Blazor.Icons
<div class="@GetClass()">
    @{
        var iconName = IconProvider.GetIcon(MenuFixed ? IconName.Pin : IconName.Bars);
    }
    <div @key="iconName" class="layout-menu-pin" @onclick="ChangeFixedAsync">
        <SIcon IconName="@iconName" />
    </div>
    @ChildContent
</div>